@model HomeDetailsViewModel

@{
    //Layout = "../Shared/_Layout.cshtml"; because we used View Start which will take care of our layout.
    ViewBag.Title = "Employee List Details";
}

<h1>@Model.PageTitle</h1>

<div>
Name: @Model.Employee.Name
</div>

<div>
Department: @Model.Employee.Department
</div>

<div>
Email: @Model.Employee.Email
</div>

@section Scripts {
    <script src="~/js/CustomJavaScript.js"></script>
}
